.form-section {
  margin-bottom: 140px;
}

.form {
  display: flex;
  align-items: center;
  gap: 20px;
}
.form-input {
  outline: none;
  max-width: 600px;
  width: 100%;
  height: 100px;
  border-radius: 20px;
  border: 4px solid rgba(255, 255, 255, 0.29);
  background: #202020;
  padding: 40px;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 158.7%;
  color: white;
}

@media (max-width: 1200px) {
  .form {
    flex-direction: column;
    gap: 40px;
  }
}
