.order-section {
  margin-bottom: 130px;
}
.order-header {
  padding: 0px 100px;
  text-align: center;
  margin-bottom: 84px;
}
.order-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 60px;
}
.order-card:last-child .order-arrow-image-container {
  opacity: 0;
}

.order-card-top {
  display: flex;
  align-items: center;
  gap: 37px;
  margin-bottom: 35px;
}
.order-arrow-image-container {
  width: min(calc(100% - 170px), 300px);
}
.order-arrow-image-container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.order-cube {
  flex-shrink: 0;
  position: relative;
  width: 135px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  background: linear-gradient(322deg, #82c36d 2.26%, #25523e 92.51%);
}
.order-cube::before {
  content: attr(data-number);
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(30%, -30%);
  width: 46px;
  aspect-ratio: 1;
  background-color: white;
  color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 158.7%;
}
.order-image {
}
.order-card-content {
  max-width: 380px;
}
.order-card-title {
  margin-bottom: 25px;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 130.2%;
}

.order-card-text {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 158.7%;
}

@media (max-width: 1100px) {
  .order-card-container {
    grid-template-columns: 1fr;
    row-gap: 70px;
    justify-items: center;
    align-items: center;
  }
  .order-card {
    width: 100%;
    max-width: 500px;
  }
  .order-card-content {
    max-width: unset;
  }
}

@media (max-width: 800px) {
  .order-header {
    padding: 0px;
  }
}

@media (max-width: 400px) {
  .order-arrow-image-container {
    display: none;
  }
}
